body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 12px;
    padding-bottom: 31px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scrollx {
    overflow-x: scroll;
}

.scrollx::-webkit-scrollbar {
    display: none;
}

.subscrollx {
    flex: 0 0 auto;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    margin: 3px 8px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    /* transition: 0.3s; */
}

.sidebar a:hover {
    color: #f1f1f1;
}

.menu {
    padding: 8px !important;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.h-6 {
    height: 30px;
}

.w-6 {
    width: 30px;
}

.itemsHeight {
    height: 46px;
    display: flex;
    align-items: center;
    margin: 3px 0px;
    /* padding-bottom: 15px !important; */
}

#mySider {
    width: 250px;
}

#main {
    /* margin-left: 250px; */
    transition: margin-left .5s;
}

.mainer {
    padding: 16px 16px 16px 16px;
}

span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-left: 6px;

    color: #FFFFFF;
}

p {
    font-family: 'Nunito';
}

.items {
    display: flex;
}

.active1 {
    padding: 1px;
    border: 1px solid;
    background: linear-gradient(180deg, #3F75FF 0%, #A966FF 100%);
    border-radius: 50%;
}

.active2 {
    background: black;
    padding: 5px;
    border-radius: 80%;
}

.navname {
    font-size: 15px;
    font-weight: 700;
}

.navprice {
    font-size: 11px;
}

.navrate {
    color: #83FBB3;
    font-size: 9px;
}

/* .logo {
    width: 100%;
    height: 100%;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}